<div class="container">
  <div class="header-actions">
    <div class="right-controls">
      <h1 id="titleRelatorios">Relatórios</h1>
    </div>

    <div class="left-controls">
      <input
        type="date"
        class="date-picker"
        [(ngModel)]="filtros.dataInicio"
        (ngModelChange)="onFiltroChange()"
      />
      <input
        type="date"
        class="date-picker"
        [(ngModel)]="filtros.dataFim"
        (ngModelChange)="onFiltroChange()"
      />

      <button class="add-employee-btn" (click)="abrirModal()">
        Abrir Filtros
      </button>

      <button class="add-employee-btn" (click)="limparFiltros()">
        Limpar Filtros
      </button>
    </div>
  </div>

  <div class="section-title">
    <h2>Indicadores</h2>
  </div>

  <div class="charts-container" *ngIf="!carregandoHorasEmpresa && horasEmpresaBarChartOptions">
    <div echarts [options]="horasEmpresaBarChartOptions" class="chart-box"></div>
    <div echarts [options]="colaboradoresBarChartOptions" class="chart-box"></div>
    <div echarts [options]="colaboradoresInativosBarChartOptions" class="chart-box"></div>
    <div echarts [options]="colaboradoresAtrasadosBarChartOptions" class="chart-box"></div>
    <div echarts [options]="colaboradoresSaidaAdiantadaBarChartOptions" class="chart-box"></div>
  </div>

  <div class="loading-container" *ngIf="carregandoHorasEmpresa">
    <div class="spinner"></div>
    <p>Carregando dados...</p>
  </div>
</div>

<!-- Modal dos filtros -->
<div class="container-filtros" *ngIf="mostrarModal">
  <div class="modal-filtros">
    <h3>Filtros</h3>
    <h4>Selecione as empresas que deseja vizualizar:</h4>

    <div class="buttons-controls">
      <button class="btn-primary" (click)="selecionarTodasEmpresas()">
        Selecionar Todas
      </button>
      <button class="btn-cancel" (click)="desmarcarTodasEmpresas()">
        Desmarcar Todas
      </button>
    </div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Empresas</mat-label>
      <mat-select
        [(ngModel)]="selectedEmpresas"
        multiple
        (ngModelChange)="onFiltroChange()"
        panelClass="empresas-select-panel"
      >
        <mat-option *ngFor="let empresa of empresas" [value]="empresa.id">
          {{ empresa.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="optionGrafic">
      <mat-form-field appearance="outline" class="filter-dropdown1">
        <mat-label>Tipo de Gráfico</mat-label>
        <mat-select
          [(ngModel)]="tipoGrafico"
          (ngModelChange)="onFiltroChange()"
        >
          <mat-option value="bar">Barra</mat-option>
          <mat-option value="pie">Pizza</mat-option>
          <mat-option value="line">Linha</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="buttons-controls">
      <button class="btn-cancel" (click)="fecharModal()">Fechar</button>
    </div>
  </div>
</div>
