/* Container principal */
.container {
  background-color: #FFFFFF;
  display: flex;
  position: fixed;
  overflow: hidden;
  border-radius: 0.5rem;
  right: 1%;
  left: 13%;
  top: 20%;
  bottom: 2%;
  height: 78%;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s ease;
  box-shadow: 0 0 0.5rem 0.1rem rgba(20, 131, 61, 0.184);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'inter', sans-serif;
  box-sizing: border-box;
}

/* Cabeçalho */
.header-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 1rem;
  padding: 1.1rem;
}

.right-controls {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.left-controls {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.left-controls>* {
  flex: 0 1 auto;
  min-width: 5rem;
  max-width: 20rem;
}

.right-controls .search-container {
  flex: 1 1 auto;
}


#titleEmpresa {
  position: relative;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #0C6834;
  transform: translate(0, 0.5rem);
  left: 1rem;
}

#titleEmpresa::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 0.2rem;
  background-color: #0C6834;
  border-radius: 2px;
}

.search-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background-color: #0C6834;
  border-radius: 0.3rem;
  padding: 0.4rem;
  cursor: pointer;
}

/* Campo de pesquisa */
.search-container {
  position: relative;
  width: 3rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 0.3rem;
  background-color: white;
  transition: width 0.5s ease-in-out;
}

.search-container:hover {
  width: 20rem;
}

.search-container:hover::after,
.search-container:has(.search-input:valid)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c683433;
  pointer-events: none;
}

.search-input {
  outline: none;
  border: none;
  padding: 0 20px 0 3.2rem;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  background: transparent;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.search-container:hover,
.search-container:has(.search-input:valid) {
  width: 20rem;
}

.search-input::placeholder {
  color: transparent;
  transition: color 0.3s ease;
}

.search-container:hover .search-input::placeholder {
  color: black;
  /* placeholder visível no hover */
}

/* Controles da esquerda */
.campo-ordenar {
  display: flex;
  align-items: center;
}

.date-picker,
.ordenar-btn,
.add-empresa-btn {
  flex: 1 1 auto;
  padding: 0.7rem;
  background: #0C6834;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  transition: transform 0.3s ease;
  min-width: 10rem;
}

.campo-ordenar {
  display: flex;
  align-items: center;
}

.date-picker:hover,
.ordenar-btn:hover,
.add-empresa-btn:hover {
  transform: scale(1.02);
}

.wrapper {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

.wrapper .empresa-list {
  width: 100%;
  border-collapse: collapse;
  position: sticky;
  top: 2rem;
}


.empresa-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  gap: 1rem;
  padding: 1.5rem;
}

.empresa-button {
  display: flex;
  align-items: center;
  padding: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.empresa-button:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
  box-shadow: 0 0 0.5rem 0.1rem rgba(20, 131, 61, 0.457);
}


h1 {
  font-size: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;

}

.icon {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 50;

}

.date-picker {
  border: 0.1rem solid #d1d5db;
  border-radius: 0.3rem;
  background-color: rgba(2, 201, 62, 0.129);
  color: rgb(0, 74, 0);
}

.date-picker:focus {
  outline: none;
  border-color: #0C6834;
  box-shadow: 0 0 5px rgba(2, 201, 62, 0.129);
}

.ordenar-btn {
  color: white;
  appearance: none;
  background-image: url('/assets/icons/arrow.svg');
  background-repeat: no-repeat;
  background-position: right 0.1rem center;
}

.ordenar-btn option {
  background-color: #8bae9a20;
}

@media (min-width: 1024px) {
  .container {
    left: 13%;
    height: 79%;
    top: 19%;
    right: 1;
  }

  #titleFunc {
    font-size: 1.2rem;
  }

  .search-container:hover,
  .search-container:has(.search-input:valid) {
    width: calc(100% - 3rem);
  }
}