.header-content {
    top: 3%;
    display: flex;
    position: fixed;
    background-color: #FFFFFF;
    right: 1%;
    width: 86%;
    height: 13%;
    transition: width 0.3s ease;
    overflow: hidden;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem 0.1rem rgba(20, 131, 61, 0.184);
}

.content img {
    position: absolute;
    left: 1%;
    top: -0.5rem;
    width: 7rem;
}

#title {
    position: absolute;
    left: 7.5rem;
    top: 0.6rem;
    font: 550 1.5rem 'Inter', sans-serif;
    color: black;
    animation: greenLetter 5s infinite;
}

@keyframes greenLetter {
    0% {
        color: #062f17;
    }
    25% {
        color: #0b5e2f;
    }
    50% {
        color: #12954b;
    }
    75% {
        color: #0C6834;
    }
    100% {
        color: #074120;
    }
}

.user-content img {
    position: absolute;
    top: 35%;
    right: 5%;
    width: 2rem;
    border: 0.1rem solid #000000;
    border-radius: 0.1rem;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .content img {
        top: -0.7rem;
        width: 7rem;
    }

    #title {
        left: 7rem;
        font-size: 1.3rem;
        top: 1rem;
    }
}

@media (min-width: 1280px) and (max-width: 1365px) {
    .content img {
        top: -0.7rem;
        width: 7rem;
    }

    #title {
        left: 7.2rem;
        font-size: 1.3rem;
        top: 1rem;
    }
}


@media (min-width: 1366px) and (max-width: 1441px) {
    .content img {
        top: -0.9rem;
        width: 8rem;
    }

    #title {
        left: 8.5rem;
        font-size: 2rem;
        top: 0.1rem;
    }
}

@media (min-width: 1920px) {
    .content img {
        top: -0.8rem;
        width: 10rem;
    }

    #title {
        left: 10.5rem;
        font-size: 2rem;
        top: 1rem;
    }
}

@media (min-width: 2560px) {
    .content img {      
        width: 12rem;
    }

    #title {
        left: 13rem;
        font-size: 3rem;
    }

}