<nav class="header-content">
  <div class="slider">
    <div class="slide">
      <img src="/assets/images/vtk.png" alt="Vortek" />
    </div>
    <div class="slide" id="altave">
      <img src="/assets/images/altave.png" alt="Altave" />
    </div>
    <div class="slide">
      <img src="/assets/images/TimeSyncVortek.svg" alt="" />
      <h2>Time Sync</h2>
    </div>
  </div>

    <div class="date-time">
      <div>
        <span>{{ time }}</span>
      </div>
      <div>
        <span>{{ date }}</span>
      </div>
    </div>
</nav>
