/* Container principal */
.ponto-container {
  background-color: #FFFFFF;
  display: flex;
  position: fixed;
  overflow: hidden;
  border-radius: 0.5rem;
  right: 1%;
  left: 13%;
  top: 20%;
  bottom: 2%;
  height: 78%;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s ease;
  box-shadow: 0 0 0.5rem 0.1rem rgba(20, 131, 61, 0.184);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'inter', sans-serif;
  box-sizing: border-box;
}

/* Título */
.ponto-title {
  position: relative;
  font-size: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: #0C6834;
  transform: translate(0, 0.5rem);
  left: 1rem;
}

.ponto-title::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 13.2rem;
  height: 0.2rem;
  background-color: #0C6834;
  border-radius: 2px;
}

/* Header */
.ponto-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 1rem;
  padding: 1.1rem;
}

/* Campo de busca */
.search-container {
  position: relative;
  width: 3rem;
  height: 2.5rem;
  overflow: hidden;
  border-radius: 0.3rem;
  background-color: white;
  transition: width 0.5s ease-in-out;
}

.search-icon {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background-color: #0C6834;
  border-radius: 0.3rem;
  padding: 0.4rem;
  cursor: pointer;
}

.search-container:hover::after,
.search-container:has(.search-input:valid)::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0c683433;
  pointer-events: none;
}

.search-input {
  outline: none;
  border: none;
  padding: 0 20px 0 3.2rem;
  font-size: 1rem;
  width: 100%;
  height: 100%;
  background: transparent;
  color: #000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.search-container:hover,
.search-container:has(.search-input:valid) {
  width: 20rem;
}

.search-input::placeholder {
  color: transparent;
  transition: color 0.3s ease;
}

.search-container:hover .search-input::placeholder {
  color: black;
  /* placeholder visível no hover */
}

.right-controls {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.left-controls {
  display: flex;
  align-items: center;
  gap: 1.5rem; /* Espaçamento uniforme entre todos os elementos */
}



.right-controls .search-container {
  flex: 1 1 auto;
}

.filter-dropdown,
.date-picker,
.download-btn,
.filter-actions {
  background: #0C6834;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;
  transition: transform 0.3s ease;
}

.filter-dropdown {
  color: white;
  appearance: none;
  text-align: center;
  background-image: url('/assets/icons/arrow.svg');
  /* Adiciona a imagem de seta */
  background-repeat: no-repeat;
  background-position: right 0.1rem center;
}

.date-picker {
  border: 0.1rem solid #d1d5db;
  border-radius: 0.3rem;
  background-color: rgba(2, 201, 62, 0.129);
  color: rgb(0, 74, 0);
}

.date-picker:focus {
  outline: none;
  border-color: #0C6834;
  box-shadow: 0 0 5px rgba(2, 201, 62, 0.129);
}

.date-picker:hover,
.filter-dropdown:hover,
.search-container:hover,
.download-btn {
  transform: scale(1.02);
}

.table-wrapper {
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Estilização da tabela */
.attendance-table {
  width: 100%;
  border-collapse: collapse;
}

/* Cabeçalho da tabela */
.attendance-table thead {
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
}

.attendance-table thead th::after {
  content: '';
  position: absolute;
  left: 0.5rem;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #0C6834;
}

/* Células do cabeçalho */
.attendance-table thead th {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  white-space: nowrap;
}

/* Células do corpo da tabela */
.attendance-table tbody td {
  width: auto;
  padding: 1rem;
  text-align: center;
  border-bottom: 1px solid #ddd7d7;
  white-space: nowrap;
  color: var(--text-secondary);
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
}

/* Hover nas linhas */
.attendance-table tbody tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.date-range-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.date-input {
  display: flex;
  align-items: center;
  gap: 0.5rem; /* Espaço entre o label e o input */
}

.date-input label {
  font-size: 14px;
  font-weight: 600;
  white-space: nowrap;
}

.date-picker {
  height: 38px;
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #e6fae9; /* Exemplo de cor, pode ajustar */
}


/* Botão Download */
.filter-actions {
  position: relative;
  display: flex;
}

.download-btn {
  background-color: #0C6834;
  color: white;
  border: none;
  cursor: pointer;
  align-items: center;
  font-weight: 500;
  transition: all 0.3s;
  padding-bottom: 0.4rem;
}

.download-btn:hover {
  background-color: #0B3B17;
  transform: translateY(-2px);
}

.icon-download::after {
  content: '\2193';
  font-size: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.download-options {
  position: absolute;
  background-color: #fff;
  border: 1px solid #eaeaea;
  border-radius: var(--border-radius);
  padding: 0.5rem;
  margin-top: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 10;
  right: 0;
  top: 100%;
  min-width: 160px;
  text-align: left;
  animation: fadeIn 0.2s ease-out;
}

.download-options button {
  display: block;
  width: 100%;
  padding: 0.7rem 1rem;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  font-size: 0.9rem;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 4px;
  transition: all 0.2s;
  color: #333;
}

.download-options button:last-child {
  border-bottom: none;
}

.download-options button:hover {
  background-color: #f2f9f5;
  color: #095227;
}

/* Botão editar */
.editar-btn {
  padding: 0.4rem 0.8rem;
  background: #0C6834;
  /* Verde principal */
  color: white;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.3s ease;
}

.editar-btn:hover {
  background: #095227;
  /* Verde escuro */
  transform: scale(1.03);
}

.attendance-table td:nth-child(1),
.attendance-table td:nth-child(2) {
  font-weight: 400;
}

.attendance-table td:nth-child(3) {
    font-weight: 500;
}

.attendance-table td:nth-child(4),
.attendance-table td:nth-child(5),
.attendance-table td:nth-child(6),
.attendance-table td:nth-child(7) { 
    font-weight: 250;
}


/* Responsividade */
@media (min-width: 1024px) {
  .ponto-container {
    left: 13%;
    height: 79%;
    top: 19%;
    right: 1;
  }

  .ponto-title {
    font-size: 1.2rem;
  }

  .ponto-title::after {
    width: 11rem;
  }

  .search-container:hover {
    width: 12.5rem;
  }


  .search-input::placeholder {
    font-size: 0.65rem;
  }

  .filter-dropdown,
  .date-picker,
  .download-btn {
    width: 8.2rem;
    font-size: 0.7rem;
    height: 2.3rem;
    text-align: center;
  }

  .attendance-table th {
    font-size: 0.9rem;
  }

  .attendance-table tbody td {
    font-size: 0.8rem;
  }
}

@media (min-width: 1280px) {
  .ponto-title {
    font-size: 1.3rem;
  }

  .ponto-title::after {
    width: 11.7rem;
  }

  .search-container:hover {
    width: 16.6rem;
  }

  .filter-dropdown,
  .date-picker,
  .download-btn {
    width: 9rem;
    font-size: 0.75rem;
  }

  .search-input::placeholder {
    font-size: 0.8rem;
  }


  .attendance-table th {
    font-size: 1rem;
  }
}

@media (min-width: 1366px) {
  .ponto-title {
    font-size: 1.5rem;
  }

  .ponto-title::after {
    width: 13.3rem
  }

  .search-container:hover {
    width: 18rem;
  }

  .filter-dropdown,
  .date-picker,
  .download-btn {
    width: 9.6rem;
    font-size: 0.8rem;
  }

  .search-input::placeholder {
    font-size: 0.9rem;
  }


  .attendance-table th {
    font-size: 1.1rem
  }

  .attendance-table tbody td {
    font-size: 0.9rem;
  }
}

@media (min-width: 1440px) {
  .ponto-title {
    font-size: 1.7rem;
  }

  .ponto-title::after {
    width: 14.8rem
  }

  .search-container,
  .search-icon {
    height: 3rem;
  }

  .search-container img {
    width: 2rem;
}


  .search-container:hover {
    width: 18rem;
    height: 3rem;
  }

  .filter-dropdown,
  .date-picker,
  .download-btn {
    width: 9.3rem;
    font-size: 0.9rem;
    height: 3rem;
  }

  .attendance-table th {
    font-size: 1.05rem;
  }

  .attendance-table tbody td {
    font-size: 1rem;
  }
}

@media (min-width: 1920px) {
  .ponto-title {
    font-size: 2rem;
  }

  .ponto-title::after {
    width: 17rem;
  }

  .search-container:hover {
    width: 23rem;
  }

  .search-container:hover,
  .search-container:has(.search-input:valid) {
    width: 23rem;
  }

  .search-input::placeholder {
    font-size: 1rem;
  }

  .filter-dropdown,
  .date-picker,
  .download-btn {
    width: 10rem;
    font-size: 1.2rem;
    height: 3rem;
  }

  .search-container img {
    width: 2rem;
}


  .attendance-table th {
    font-size: 1.5rem;
  }

  .attendance-table tbody td {
    font-size: 1.2rem;
  }
}

@media (min-width: 2560px) {
  .ponto-title {
    font-size: 2.5rem;
  }

  .ponto-title::after {
    width: 21.5rem;
  }

  .search-icon,
  .search-container {
    height: 4rem;
    width: 3.8rem;
  }

  .search-container img {
    width: 3rem;
}

  .search-container ::placeholder{
    font-size: 1.4rem;
}

  .search-container:hover {
    width: 30rem;
    height: 4rem;
  }

  .search-input {
    font-size: 1.4rem;
    padding-left: 5rem;
  }

  .filter-dropdown,
  .date-picker,
  .download-btn {
    width: 18rem;
    font-size: 1.5rem;
    height: 4rem;
  }

  .attendance-table th {
    font-size: 1.5rem;
  }

  .attendance-table tbody td {
    font-size: 1.2rem;
  }
}