<div class="container-modal-cadastro">
  <div class="cadastro-content">
    <h3>Gerenciar Empresa</h3>
    <form #empresaForm="ngForm">
      <div class="form-group">
        <label for="cnpj">CNPJ</label>
        <input type="text" id="cnpj" [(ngModel)]="empresa.cnpj" name="cnpj" required #cnpjField="ngModel">
          <div *ngIf="cnpjField.invalid && (cnpjField.dirty || cnpjField.touched)" class="error-message">
            <div *ngIf="cnpjField.errors?.['required']">
              CNPJ é obrigatório.
            </div>
          </div>
      </div>

      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" [(ngModel)]="empresa.nome" name="nome" required #nomeField="ngModel">
          <div *ngIf="nomeField.invalid && (nomeField.dirty || nomeField.touched)" class="error-message">
            <div *ngIf="nomeField.errors?.['required']">
              Nome é obrigatório.
            </div>
          </div>
      </div>
    </form>
    <div class="actions">
      <button class="btn-primary" (click)="save(empresaForm)">Ok</button>
      <button class="btn-secondary" (click)="deletar()">Deletar</button>
      <button class="btn-cancel" (click)="close()">Cancelar</button>
    </div>
  </div>
</div>
