<div class="container">
    <div class="header-actions">
        <h1 id="titleFunc">Funcionários</h1>

        <div class="search-container">
            <input type="text" class="search-input" placeholder="Pesquisar funcionário...">
            <span class="search-icon"></span>
        </div>

        <input type="date" class="date-picker">

        <select class="filter-dropdown">
            <option value="empresa">Empresa</option>
            <option value="funcionario">Funcionário</option>
        </select>

        <button class="add-employee-btn" (click)='abrirModalCadastro()'> Add Funcionário</button>
    </div>

    <table class="attendance-table">
        <thead>
            <tr>
                <th>CPF</th>
                <th>Funcionário</th>
                <th>Cargo</th>
                <th>Empresa</th>
                <!-- <th>Data</th> -->
                <th>Status</th>
                <th>Entrada</th>
                <th>Saída</th>
                <th>Horas trabalhadas</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let colaborador of colaboradores" (click)="clickRow(colaborador)">
                <td>{{colaborador.cpf}}</td>
                <td>{{colaborador.nome}}</td>
                <td>{{colaborador.cargo}}</td>
                <td>{{colaborador.empresa}}</td>
                <!-- <td>{{colaborador.data}}</td> -->
                <td class="status active">Ativo</td>
                <td>09:00</td>
                <td>18:00</td>
                <td>10h 2m</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="modal-colab-crud">