:root {
    --primary-color: #0C6834;
    --primary-hover: #0C6834;
    --background-color: #ffffff;
    --active-color: #42A5F5;
    --inactive-color: #EF5350;
    --late-color: #FFD54F;
    --border-color: #0C6834;
    --border-radius: 12px;
    --text-color: #333;
    --text-secondary: #666;
    --shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s ease;
}

/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

/* Corpo do site */
body {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 1rem;
}

/* Container principal */
.container {
    background-color: #FFFFFF;
    display: flex;
    padding: 2rem;
    position: fixed;
    width: 86%;
    height: 86%;
    overflow: auto;
    top: 20%;
    border-radius: 0.5rem;
    right: 1%;
    box-shadow: var(--shadow);
    flex-direction: column;
}

.container * {
    transform: scale(0.99);
}

/* Tabela de presenças */
.attendance-table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    padding: 1rem;
}

.attendance-table thead th {
    border-top: 2px solid rgb(219, 216, 216);
    border-bottom: 2px solid rgb(219, 216, 216);
    font-weight: bold;
    color: var(--text-color);
    padding: 2rem;
    text-align: center;
}

.attendance-table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #ddd7d7;
    white-space: nowrap;
    color: var(--text-secondary);
}

.attendance-table td.status {
    width: 120px;
    border-radius: 2.98px;
}

.attendance-table td:nth-child(1),
.attendance-table td:nth-child(2) {
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.attendance-table td:nth-child(3),
.attendance-table td:nth-child(4),
.attendance-table td:nth-child(5) {
    color: #70757e;
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}

.attendance-table tbody tr {
    height: 13vh;
}

.status {
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: var(--border-radius);
    text-align: center;
    display: inline-flex;
    margin-top: 1.5rem;
}

.status.active {
    background-color: #d1fae5;
    color: var(--active-color);
}

.status.inactive {
    background-color: #fee2e2;
    color: var(--inactive-color);
}

.status.late {
    background-color: #fef3c7;
    color: var(--late-color);
}

/* Cabeçalho */
.header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
    padding: 0 1rem;
}

.search-container {
    display: flex;
    align-items: center;
    background: white;
    border: 0.05rem solid #ddd7d7;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    padding: 0.5rem;
    width: 25%;
}

.search-input {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 1rem;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.ordenar-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.ordenar-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    border: 0.05rem solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: 0.8rem;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transition);
    height: auto;
}

.date-picker {
    border: 1px solid #ddd7d7;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0.8rem;
    height: auto;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
}

.filter-dropdown {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 1px solid #ddd7d7;
    border-radius: var(--border-radius);
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    background: var(--primary-color);
    color: white;
    cursor: pointer;
    height: auto;
}

.add-employee-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    padding: 0.6rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: var(--transition);
    height: auto;
}

.add-employee-btn::before {
    content: "+";
    font-size: 1.2rem;
    margin-right: 4px;
}

#btn-add,
#btn-edit {
    display: flex;
    position: fixed;
    bottom: 2%;
    padding: 0.6rem 1rem;
    z-index: 10;
}

#btn-add {
    right: 15%;
}

#btn-edit {
    right: 5%;
}

#titleFunc {
    font-size: 1.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

/* Responsividade */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .container {
        margin-left: 0;
        width: 100%;
        padding: 1rem;
    }

    .header-actions {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

/* Estilos adicionais */
.popup-colab {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.modal-colab-crud {
    margin: 25px;
}
