<header class="header">
    <div class="logo">
        <img src="assets/favicon.ico" alt="Logo">
        <span>Vortek Dashboard</span>
    </div>

    <div class="header-right">
        <lucide-icon name="message-square" class="chat-icon"></lucide-icon>

        <div class="user-info">
            <img src="assets/favicon.ico">
            <div>
                <span class="user-name">Vortek</span>
                <span class="user-email">adminvortek.com</span>
            </div>
        </div>
    </div>
</header>