        <div class="container">
            <div class="login-box">
                <h2>Login</h2>
                <form action="#">
                    <div class="input-box">
                        <input id="cnpj" type="text" required maxlength="18" (input)="formatCnpjInput($event)">
                        <label>CNPJ</label>
                    </div>
                    <div class="input-box">
                        <input type="password" required>
                        <label>Senha</label>
                    </div>
                    <button type="submit" class="btn">Login</button>
                    <div class="forgot-password">
                        <a href="#">Problemas com a senha?</a>
                    </div>
                </form>
            </div>
        </div>
 
