<nav class="side-bar">
    <ul>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/home">
          <span class="icon">
            <img src="assets/icons/dashboard.svg" alt="Dashboard">
            <span class="title">Relatórios</span>
          </span>
        </a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/pontos">
          <span class="icon">
            <img src="assets/icons/clock.svg" alt="Pontos">
            <span class="title">Pontos</span>
          </span>
        </a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/empresa">
          <span class="icon">
            <img src="assets/icons/enterprise.svg" alt="Empresas">
            <span class="title">Empresas</span>
          </span>
        </a>
      </li>
      <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/colaborador">
          <span class="icon">
            <img src="assets/icons/collab.svg" alt="Colaboradores">
            <span class="title">Colaboradores</span>
          </span>
        </a>
      <li>
        <button class="logout-btn" (click)="logout()">
          <span class="icon">
            <img src="assets/icons/exit.svg" alt="Sair">
            <span class="title">Sair</span>
          </span>
        </button>
      </li>
    </ul>
  </nav>
