<div class="container-modal-cadastro">
  <div class="cadastro-content">
    <h3>Editar Pontos</h3>
    <div class="form-group avatar-group">
      
      <div class="avatar" *ngIf="imagemPreview; else noImage">
        <img 
          [src]="imagemPreview" 
          class="avatar-img" 
          (click)="fileInput.click()" 
        />
      </div>
    
      <ng-template #noImage>
        <div 
          class="avatar"
          (click)="fileInput.click()">
          <span class="avatar-text">Adicionar Foto</span>
        </div>
      </ng-template>
    
      <input 
        type="file" 
        #fileInput 
        style="display: none"
        accept="image/*" 
        disabled         
      />
    </div>
    
    <form #pontoForm="ngForm">
      <div class="form-group">
        <label for="cpf">CPF</label>
        <input type="text" id="cpf" [(ngModel)]="registro.cpf" name="cpf" mask="000.000.000-00" disabled>
      </div>
      
      <div class="form-group">
        <label for="nome">Nome</label>
        <input type="text" id="nome" [(ngModel)]="registro.nome" name="nome" disabled>
      </div>
      
      <div class="form-group">
        <label for="cargo">Cargo</label>
        <input type="text" id="cargo" [(ngModel)]="registro.cargo" name="cargo" disabled>
      </div>

      <div class="form-group">
        <label for="horarioEntrada">Hora de entrada</label>
        <input type="text" id="horarioEntrada" [(ngModel)]="registro.horaEntrada" name="horarioEntrada"
        required #horaEntradaField="ngModel"> 
          <div *ngIf="horaEntradaField.invalid && (horaEntradaField.dirty || horaEntradaField.touched)" class="error-message">
            <div *ngIf="horaEntradaField.errors?.['required']">
              Hora de Entrada é obrigatória.
            </div>
          </div>
      </div>

      <div class="form-group">
        <label for="horarioSaida">Hora de saída</label>
        <input type="text" id="horarioSaida" [(ngModel)]="registro.horaSaida" name="horarioSaida"
        required #horaSaidaField="ngModel">
          <div *ngIf="horaSaidaField.invalid && (horaSaidaField.dirty || horaSaidaField.touched)" class="error-message">
            <div *ngIf="horaSaidaField.errors?.['required']">
              Hora de Saída é obrigatória.
            </div>
          </div>
      </div>

      <div class="form-group">
        <label for="empresas">Empresas</label>
        <mat-form-field appearance="outline" class="full-width">
          <mat-select
            id="empresas"
            name="empresas"
            [(ngModel)]="registro.empresaId"
            required
            placeholder="Selecione"
            panelClass="empresas-select-panel" #empresaField="ngModel">
            <mat-option *ngFor="let empresa of colaborador.empresas" [value]="empresa.id" >
              {{ empresa.nome }}
            </mat-option>
          </mat-select>
        </mat-form-field>
          <div *ngIf="empresaField.invalid && (empresaField.dirty || empresaField.touched)" class="error-message">
            <div *ngIf="empresaField.errors?.['required']">
              Empresa é obrigatória.
            </div>
          </div>
      </div>
      
      <div class="form-group">
        <label for="statusAtivo">Status</label>
        <select id="statusAtivo" [(ngModel)]="registro.statusAtivo" name="statusAtivo" disabled>
          <option [ngValue]="true">Ativo</option>
          <option [ngValue]="false">Inativo</option>
        </select>
      </div>

      <div class="form-group">
        <label for="justificativa">Justificativa</label>
        <textarea id="justificativa" [(ngModel)]="registro.justificativa" name="justificativa" rows="4" required #justificativaField="ngModel"> </textarea>
        <div *ngIf="justificativaField.invalid && (justificativaField.dirty || justificativaField.touched)" class="error-message">
          <div *ngIf="justificativaField.errors?.['required']">
            Justificativa é obrigatória.
          </div>
        </div>
      </div>
    </form>
    
    <div class="actions">
      <button class="btn-primary" (click)="editarPontos(pontoForm)">Salvar</button>
      <button class="btn-cancel" (click)="close()">Cancelar</button>
    </div>
  </div>
</div>